{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<h1>Add a new user: </h1>

<form action="" method="post">
    {% csrf_token %}
    <label>Enter the new user's name:<br></label>
    <input type="text" id="name" name="name">

    <br>
    <label>Enter the new user's e-mail:<br></label>
    <input type="text" id="email" name="email">

    <br><br>
    <input type ="submit" value ="Submit">
</form>

<a href="/">Back to the menu</a>
